<h1>edit todo...</h1>

<form action="/todo/update/<%= @todo.id %>">
    <input class="text-input" id="new-todo-description" name="description" type="text" value="<%= @todo.description %>">
    <input class="text-input" id="new-pomodoro-estimate" name="pomodoro-estimat" type="number" value="<%= @todo.pomodoro_estimate %>">
    <input class="button" id="add-new-todo-button" type="submit" value="edit todo">
    
    
</form>