 <h1>Workshop Todo list</h1>
        
        <main>
         <a href="/todo/new">Make new Todo</a>
        </main>
        
        <ol>
            
            <% @todos.each do |todo| %>
        <li>
        <input type="checkbox" name=""/>
        <a href="/todo/show/<%= todo.id%>"><%=todo.description %></a>
        <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %> pomodoros</span>
        
        
        </li>
        <%end%>
            
           
            <li><input type="checkbox">add todo</li>
        </ol>
       
       
       <!--<img src="http://images5.fanpop.com/image/photos/31000000/haters-gonna-hate-random-31076705-550-413.jpg">-->
        