<h1>My Todo List</h1>
       <main>
       <h2><%= @todo_description %></h2>
       <span><%= @todo_pomodoro_estimate %> pomodoros</span>
       <a  class="in1" href="#">Edit</a>
       <a  class="in2" href="#">Delete</a>
       <a  class="in3" href="../index">Go back</a>
       </main>
       
       <h3>todo #<%= params[:id] %></h3>